<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>File Locator</title>
</head>
<body>
    <div class="container">
        <h1>File Locator</h1>
        <form method="POST" action="/">
            {{ form.csrf_token }}

            <div class="form-group">
                <label for="{{ form.filename.id }}">{{ form.filename.label.text }}</label>
                {{ form.filename }}
                {% if form.filename.errors %}
                    <p class="error-message">{{ form.filename.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.root_directory.id }}">{{ form.root_directory.label.text }}</label>
                {{ form.root_directory }}
                {% if form.root_directory.errors %}
                    <p class="error-message">{{ form.root_directory.errors[0] }}</p>
                {% endif %}
            </div>

            <div class="form-group">
                <label for="{{ form.check_field.id }}">{{ form.check_field.label.text }}</label>
                {{ form.check_field }}
            </div>

            <div class="form-group">
                {{ form.submit }}
            </div>
        </form>

        {% if result %}
            <div class="result">
                <h2>Result: ({{ length }})</h2>
                <ul>
                    {% for item in result %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</body>
</html>
